footer.footer 
	.container 
		.footer__wrapper 
			p.footer__text © 2022 abouttea.ru Публикации несут информационный характер. Обязательно консультируйтесь со специалистом. Копирование и распространение материалов с сайта разрешено только с указанием активной ссылки на abouttea.ru
			.footer__box 
				a.footer__link.footer__link__about(href="") О Сайте
				a.footer__link.footer__link__map(href="") Карта сайта
				a.footer__link.footer__link__contact(href="") Контакты
				a.footer__link.footer__link__terms(href="") Пользовательское соглашение
				a.footer__link.footer__link__privacy(href="") Политика конфиденциальности
				