include ../mixins/slide.pug
.slider.swiper
	// Additional required wrapper
	.swiper-wrapper
		// Slides
		.swiper-slide
			+slide({
				link: '#',
				img: './assets/imgs/slide1.png',
				text: 'Разновидности чайныйх брендов'
			})
		.swiper-slide 
			+slide({
				link: '#',
				img: './assets/imgs/slide2.png',
				text: 'Интересное о чае'
			})
		.swiper-slide 
			+slide({
				link: '#',
				img: './assets/imgs/slide3.png',
				text: 'Сорта чая'
			})
		.swiper-slide
			+slide({
				link: '#',
				img: './assets/imgs/slide1.png',
				text: 'Разновидности чайныйх брендов'
			})
		.swiper-slide 
			+slide({
				link: '#',
				img: './assets/imgs/slide2.png',
				text: 'Интересное о чае'
			})
		.swiper-slide 
			+slide({
				link: '#',
				img: './assets/imgs/slide3.png',
				text: 'Сорта чая'
			})
	// If we need pagination
	.swiper-pagination
	

